<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pmm.simarro.pmdm_banco_llopischristian">

    <application
        android:allowBackup="true"
        android:icon="@drawable/mazebanklogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pantallaLogin" />
        <activity android:name=".pantallaInicio" />
        <activity android:name=".CambiarClave" />
        <activity
            android:name=".transferencias"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".PosicionGlobal" />
        <activity android:name=".Movimientos" />
        <activity android:name=".Configuracion" />
        <activity android:name=".GestionCajeros" />
        <activity android:name=".AnadirCajero"></activity>
    </application>

</manifest>